<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="OAuth2Test">
<listeners>
<listener class-name="tests.ExtRep"></listener>
</listeners>

  <test thread-count="5" name="Test2306">
  <groups>
	<run>
	<include name="negative"> </include>
	 </run>
</groups>
    <classes>
      <class name="tests.TestClass">
      
      </class>
    </classes>
  </test> <!-- Test2306 -->
</suite> <!-- OAuth2Test -->
